src/main/app/salesforce-emulator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/services" doc:name="HTTP Listener Configuration"/>
    <flow name="salesforce-emulatorLogin">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Soap/u/41.0/" doc:name="HTTP" allowedMethods="POST"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="32a094bc-b97b-4c80-8e9e-93f789afb946">
            <dw:input-payload mimeType="application/xml" doc:sample="examples/login-request.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns1 urn:partner.soap.sforce.com
%namespace ns0 http://schemas.xmlsoap.org/soap/envelope/
---
{
	username: payload.ns0#Envelope.ns0#Body.ns1#login.ns1#username,
	password: payload.ns0#Envelope.ns0#Body.ns1#login.ns1#password
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload.username==&quot;mulesoft&quot; &amp;&amp; payload.password==&quot;mulesoft&quot;]">
                <set-payload value="&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;loginResponse xmlns=&quot;urn:partner.soap.sforce.com&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;&lt;result&gt;&lt;metadataServerUrl&gt;http://salesforce-emulator.cloudhub.io/services/Soap/m/41.0/012345/&lt;/metadataServerUrl&gt;&lt;passwordExpired&gt;false&lt;/passwordExpired&gt;&lt;sandbox&gt;false&lt;/sandbox&gt;&lt;serverUrl&gt;http://salesforce-emulator.cloudhub.io/services/Soap/u/41.0/012345/&lt;/serverUrl&gt;&lt;sessionId&gt;00Df4000001dNas!ARQAQFeFaTYv1Zof7ntUz_gNYz.3m7F2gBN0lM_CMXKfPQ_8O2fAwhvUCMjW8VrakYIjDYFXcs4lmeG8OEHUXCNDWsTCJLMQ&lt;/sessionId&gt;&lt;userId&gt;0A&lt;/userId&gt;&lt;userInfo&gt;&lt;accessibilityMode&gt;false&lt;/accessibilityMode&gt;&lt;chatterExternal&gt;false&lt;/chatterExternal&gt;&lt;currencySymbol&gt;$&lt;/currencySymbol&gt;&lt;orgAttachmentFileSizeLimit&gt;5242880&lt;/orgAttachmentFileSizeLimit&gt;&lt;orgDefaultCurrencyIsoCode&gt;USD&lt;/orgDefaultCurrencyIsoCode&gt;&lt;orgDefaultCurrencyLocale&gt;en_US&lt;/orgDefaultCurrencyLocale&gt;&lt;orgDisallowHtmlAttachments&gt;false&lt;/orgDisallowHtmlAttachments&gt;&lt;orgHasPersonAccounts&gt;false&lt;/orgHasPersonAccounts&gt;&lt;organizationId&gt;012345&lt;/organizationId&gt;&lt;organizationMultiCurrency&gt;false&lt;/organizationMultiCurrency&gt;&lt;organizationName&gt;MuleSoft&lt;/organizationName&gt;&lt;profileId&gt;00ef4000001N71KAAS&lt;/profileId&gt;&lt;roleId xsi:nil=&quot;true&quot;/&gt;&lt;sessionSecondsValid&gt;7200&lt;/sessionSecondsValid&gt;&lt;userDefaultCurrencyIsoCode xsi:nil=&quot;true&quot;/&gt;&lt;userEmail&gt;max@mulesoft.com&lt;/userEmail&gt;&lt;userFullName&gt;Max Mule&lt;/userFullName&gt;&lt;userId&gt;0A&lt;/userId&gt;&lt;userLanguage&gt;en_US&lt;/userLanguage&gt;&lt;userLocale&gt;en_US&lt;/userLocale&gt;&lt;userName&gt;max@mulesoft.com&lt;/userName&gt;&lt;userTimeZone&gt;America/Los_Angeles&lt;/userTimeZone&gt;&lt;userType&gt;Standard&lt;/userType&gt;&lt;userUiSkin&gt;Theme3&lt;/userUiSkin&gt;&lt;/userInfo&gt;&lt;/result&gt;&lt;/loginResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;" doc:name="Successful Login" mimeType="application/xml"/>
            </when>
            <otherwise>
                <dw:transform-message doc:name="login-fault">
                    <dw:set-payload><![CDATA[%dw 1.0
%output text/xml
---
readUrl("classpath://examples/login-fault.xml","application/xml")]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
    </flow>
    <flow name="salesforce-emulatorOperation">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Soap/u/41.0/012345" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="2db237bd-ee21-4851-8d47-2065e202a09b">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://schemas.xmlsoap.org/soap/envelope/
---
{
	header: payload.ns0#Envelope.ns0#Header,
	body: payload.ns0#Envelope.ns0#Body
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload.body.?describeSObject.?sObjectType == &quot;Lead&quot;]">
                <logger message="Getting sObject" level="INFO" doc:name="Getting sObject"/>
                <set-payload value="&lt;soapenv:Envelope xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot; xmlns=&quot;urn:partner.soap.sforce.com&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;
   &lt;soapenv:Header&gt;
      &lt;LimitInfoHeader&gt;
         &lt;limitInfo&gt;
            &lt;current&gt;279&lt;/current&gt;
            &lt;limit&gt;15000&lt;/limit&gt;
            &lt;type&gt;API REQUESTS&lt;/type&gt;
         &lt;/limitInfo&gt;
      &lt;/LimitInfoHeader&gt;
   &lt;/soapenv:Header&gt;
   &lt;soapenv:Body&gt;
      &lt;describeSObjectResponse&gt;
         &lt;result&gt;
            &lt;activateable&gt;false&lt;/activateable&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;AcceptedEventRelation&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RelationId&lt;/field&gt;
               &lt;relationshipName&gt;AcceptedEventRelations&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;ActivityHistory&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;WhoId&lt;/field&gt;
               &lt;relationshipName&gt;ActivityHistories&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;AttachedContentDocument&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;LinkedEntityId&lt;/field&gt;
               &lt;relationshipName&gt;AttachedContentDocuments&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;Attachment&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;ParentId&lt;/field&gt;
               &lt;relationshipName&gt;Attachments&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;CampaignMember&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;LeadId&lt;/field&gt;
               &lt;relationshipName&gt;CampaignMembers&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;CampaignMember&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;LeadOrContactId&lt;/field&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;CollaborationGroupRecord&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RecordId&lt;/field&gt;
               &lt;relationshipName&gt;RecordAssociatedGroups&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;CombinedAttachment&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;ParentId&lt;/field&gt;
               &lt;relationshipName&gt;CombinedAttachments&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;ContentDistribution&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RelatedRecordId&lt;/field&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;ContentDocumentLink&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;LinkedEntityId&lt;/field&gt;
               &lt;relationshipName&gt;ContentDocumentLinks&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;ContentVersion&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;FirstPublishLocationId&lt;/field&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;DeclinedEventRelation&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RelationId&lt;/field&gt;
               &lt;relationshipName&gt;DeclinedEventRelations&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;DuplicateRecordItem&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RecordId&lt;/field&gt;
               &lt;relationshipName&gt;DuplicateRecordItems&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;EmailMessageRelation&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RelationId&lt;/field&gt;
               &lt;relationshipName&gt;EmailMessageRelations&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;EmailStatus&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;WhoId&lt;/field&gt;
               &lt;relationshipName&gt;EmailStatuses&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;EntitySubscription&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;ParentId&lt;/field&gt;
               &lt;relationshipName&gt;FeedSubscriptionsForEntity&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;Event&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;WhoId&lt;/field&gt;
               &lt;relationshipName&gt;Events&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;EventRelation&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RelationId&lt;/field&gt;
               &lt;relationshipName&gt;EventRelations&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;FeedComment&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;ParentId&lt;/field&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;FeedItem&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;ParentId&lt;/field&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;LeadCleanInfo&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;LeadId&lt;/field&gt;
               &lt;relationshipName&gt;LeadCleanInfos&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;LeadFeed&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;ParentId&lt;/field&gt;
               &lt;relationshipName&gt;Feeds&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;LeadHistory&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;LeadId&lt;/field&gt;
               &lt;relationshipName&gt;Histories&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;LeadShare&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;LeadId&lt;/field&gt;
               &lt;relationshipName&gt;Shares&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;Note&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;ParentId&lt;/field&gt;
               &lt;relationshipName&gt;Notes&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;NoteAndAttachment&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;ParentId&lt;/field&gt;
               &lt;relationshipName&gt;NotesAndAttachments&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;OpenActivity&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;WhoId&lt;/field&gt;
               &lt;relationshipName&gt;OpenActivities&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;OutgoingEmail&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;WhoId&lt;/field&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;OutgoingEmailRelation&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RelationId&lt;/field&gt;
               &lt;relationshipName&gt;OutgoingEmailRelations&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;ProcessInstance&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;TargetObjectId&lt;/field&gt;
               &lt;relationshipName&gt;ProcessInstances&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;ProcessInstanceHistory&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;TargetObjectId&lt;/field&gt;
               &lt;relationshipName&gt;ProcessSteps&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;Task&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;WhoId&lt;/field&gt;
               &lt;relationshipName&gt;Tasks&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;true&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;TopicAssignment&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;EntityId&lt;/field&gt;
               &lt;relationshipName&gt;TopicAssignments&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;childRelationships&gt;
               &lt;cascadeDelete&gt;false&lt;/cascadeDelete&gt;
               &lt;childSObject&gt;UndecidedEventRelation&lt;/childSObject&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;field&gt;RelationId&lt;/field&gt;
               &lt;relationshipName&gt;UndecidedEventRelations&lt;/relationshipName&gt;
            &lt;/childRelationships&gt;
            &lt;compactLayoutable&gt;true&lt;/compactLayoutable&gt;
            &lt;createable&gt;true&lt;/createable&gt;
            &lt;custom&gt;false&lt;/custom&gt;
            &lt;customSetting&gt;false&lt;/customSetting&gt;
            &lt;deletable&gt;true&lt;/deletable&gt;
            &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
            &lt;feedEnabled&gt;true&lt;/feedEnabled&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;true&lt;/idLookup&gt;
               &lt;label&gt;Lead ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;Id&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;id&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;false&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultValue xsi:type=&quot;xsd:boolean&quot;&gt;false&lt;/defaultValue&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Deleted&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;IsDeleted&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:boolean&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;boolean&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Master Record ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;MasterRecordId&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;referenceTo&gt;Lead&lt;/referenceTo&gt;
               &lt;relationshipName&gt;MasterRecord&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;reference&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;240&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Name&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;extraTypeInfo&gt;personname&lt;/extraTypeInfo&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Last Name&lt;/label&gt;
               &lt;length&gt;80&lt;/length&gt;
               &lt;name&gt;LastName&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Name&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;extraTypeInfo&gt;personname&lt;/extraTypeInfo&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;First Name&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;FirstName&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Name&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;extraTypeInfo&gt;personname&lt;/extraTypeInfo&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Salutation&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;Salutation&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Mr.&lt;/label&gt;
                  &lt;value&gt;Mr.&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Ms.&lt;/label&gt;
                  &lt;value&gt;Ms.&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Mrs.&lt;/label&gt;
                  &lt;value&gt;Mrs.&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Dr.&lt;/label&gt;
                  &lt;value&gt;Dr.&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Prof.&lt;/label&gt;
                  &lt;value&gt;Prof.&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;picklist&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;363&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;extraTypeInfo&gt;personname&lt;/extraTypeInfo&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Full Name&lt;/label&gt;
               &lt;length&gt;121&lt;/length&gt;
               &lt;name&gt;Name&lt;/name&gt;
               &lt;nameField&gt;true&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;384&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Title&lt;/label&gt;
               &lt;length&gt;128&lt;/length&gt;
               &lt;name&gt;Title&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;765&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Company&lt;/label&gt;
               &lt;length&gt;255&lt;/length&gt;
               &lt;name&gt;Company&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;765&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Address&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;extraTypeInfo&gt;plaintextarea&lt;/extraTypeInfo&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Street&lt;/label&gt;
               &lt;length&gt;255&lt;/length&gt;
               &lt;name&gt;Street&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;textarea&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Address&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;City&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;City&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;240&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Address&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;State/Province&lt;/label&gt;
               &lt;length&gt;80&lt;/length&gt;
               &lt;name&gt;State&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;60&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Address&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Zip/Postal Code&lt;/label&gt;
               &lt;length&gt;20&lt;/length&gt;
               &lt;name&gt;PostalCode&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;240&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Address&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Country&lt;/label&gt;
               &lt;length&gt;80&lt;/length&gt;
               &lt;name&gt;Country&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Address&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Latitude&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;Latitude&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;18&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;15&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:double&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;double&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Address&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Longitude&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;Longitude&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;18&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;15&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:double&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;double&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;compoundFieldName&gt;Address&lt;/compoundFieldName&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Geocode Accuracy&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;GeocodeAccuracy&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Address&lt;/label&gt;
                  &lt;value&gt;Address&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;NearAddress&lt;/label&gt;
                  &lt;value&gt;NearAddress&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Block&lt;/label&gt;
                  &lt;value&gt;Block&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Street&lt;/label&gt;
                  &lt;value&gt;Street&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;ExtendedZip&lt;/label&gt;
                  &lt;value&gt;ExtendedZip&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Zip&lt;/label&gt;
                  &lt;value&gt;Zip&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Neighborhood&lt;/label&gt;
                  &lt;value&gt;Neighborhood&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;City&lt;/label&gt;
                  &lt;value&gt;City&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;County&lt;/label&gt;
                  &lt;value&gt;County&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;State&lt;/label&gt;
                  &lt;value&gt;State&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Unknown&lt;/label&gt;
                  &lt;value&gt;Unknown&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;true&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;picklist&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;false&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Address&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;Address&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;true&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:address&lt;/soapType&gt;
               &lt;sortable&gt;false&lt;/sortable&gt;
               &lt;type&gt;address&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Phone&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;Phone&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;phone&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Mobile Phone&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;MobilePhone&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;phone&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Fax&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;Fax&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;phone&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;240&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;true&lt;/idLookup&gt;
               &lt;label&gt;Email&lt;/label&gt;
               &lt;length&gt;80&lt;/length&gt;
               &lt;name&gt;Email&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;email&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;765&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Website&lt;/label&gt;
               &lt;length&gt;255&lt;/length&gt;
               &lt;name&gt;Website&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;url&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;765&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;extraTypeInfo&gt;imageurl&lt;/extraTypeInfo&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Photo URL&lt;/label&gt;
               &lt;length&gt;255&lt;/length&gt;
               &lt;name&gt;PhotoUrl&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;url&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;false&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;96000&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;extraTypeInfo&gt;plaintextarea&lt;/extraTypeInfo&gt;
               &lt;filterable&gt;false&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Description&lt;/label&gt;
               &lt;length&gt;32000&lt;/length&gt;
               &lt;name&gt;Description&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;false&lt;/sortable&gt;
               &lt;type&gt;textarea&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Lead Source&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;LeadSource&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Web&lt;/label&gt;
                  &lt;value&gt;Web&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Phone Inquiry&lt;/label&gt;
                  &lt;value&gt;Phone Inquiry&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Partner Referral&lt;/label&gt;
                  &lt;value&gt;Partner Referral&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Purchased List&lt;/label&gt;
                  &lt;value&gt;Purchased List&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Other&lt;/label&gt;
                  &lt;value&gt;Other&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;picklist&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultValue xsi:type=&quot;xsd:string&quot;&gt;Open - Not Contacted&lt;/defaultValue&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Status&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;Status&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;true&lt;/defaultValue&gt;
                  &lt;label&gt;Open - Not Contacted&lt;/label&gt;
                  &lt;value&gt;Open - Not Contacted&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Working - Contacted&lt;/label&gt;
                  &lt;value&gt;Working - Contacted&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Closed - Converted&lt;/label&gt;
                  &lt;value&gt;Closed - Converted&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Closed - Not Converted&lt;/label&gt;
                  &lt;value&gt;Closed - Not Converted&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;picklist&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Industry&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;Industry&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Agriculture&lt;/label&gt;
                  &lt;value&gt;Agriculture&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Apparel&lt;/label&gt;
                  &lt;value&gt;Apparel&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Banking&lt;/label&gt;
                  &lt;value&gt;Banking&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Biotechnology&lt;/label&gt;
                  &lt;value&gt;Biotechnology&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Chemicals&lt;/label&gt;
                  &lt;value&gt;Chemicals&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Communications&lt;/label&gt;
                  &lt;value&gt;Communications&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Construction&lt;/label&gt;
                  &lt;value&gt;Construction&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Consulting&lt;/label&gt;
                  &lt;value&gt;Consulting&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Education&lt;/label&gt;
                  &lt;value&gt;Education&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Electronics&lt;/label&gt;
                  &lt;value&gt;Electronics&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Energy&lt;/label&gt;
                  &lt;value&gt;Energy&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Engineering&lt;/label&gt;
                  &lt;value&gt;Engineering&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Entertainment&lt;/label&gt;
                  &lt;value&gt;Entertainment&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Environmental&lt;/label&gt;
                  &lt;value&gt;Environmental&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Finance&lt;/label&gt;
                  &lt;value&gt;Finance&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Food &amp;amp; Beverage&lt;/label&gt;
                  &lt;value&gt;Food &amp;amp; Beverage&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Government&lt;/label&gt;
                  &lt;value&gt;Government&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Healthcare&lt;/label&gt;
                  &lt;value&gt;Healthcare&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Hospitality&lt;/label&gt;
                  &lt;value&gt;Hospitality&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Insurance&lt;/label&gt;
                  &lt;value&gt;Insurance&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Machinery&lt;/label&gt;
                  &lt;value&gt;Machinery&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Manufacturing&lt;/label&gt;
                  &lt;value&gt;Manufacturing&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Media&lt;/label&gt;
                  &lt;value&gt;Media&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Not For Profit&lt;/label&gt;
                  &lt;value&gt;Not For Profit&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Recreation&lt;/label&gt;
                  &lt;value&gt;Recreation&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Retail&lt;/label&gt;
                  &lt;value&gt;Retail&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Shipping&lt;/label&gt;
                  &lt;value&gt;Shipping&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Technology&lt;/label&gt;
                  &lt;value&gt;Technology&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Telecommunications&lt;/label&gt;
                  &lt;value&gt;Telecommunications&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Transportation&lt;/label&gt;
                  &lt;value&gt;Transportation&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Utilities&lt;/label&gt;
                  &lt;value&gt;Utilities&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Other&lt;/label&gt;
                  &lt;value&gt;Other&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;picklist&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Rating&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;Rating&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Hot&lt;/label&gt;
                  &lt;value&gt;Hot&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Warm&lt;/label&gt;
                  &lt;value&gt;Warm&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Cold&lt;/label&gt;
                  &lt;value&gt;Cold&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;picklist&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Annual Revenue&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;AnnualRevenue&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;18&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:double&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;currency&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;8&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Employees&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;NumberOfEmployees&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:int&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;int&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Owner ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;OwnerId&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;true&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;true&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;referenceTo&gt;Group&lt;/referenceTo&gt;
               &lt;referenceTo&gt;User&lt;/referenceTo&gt;
               &lt;relationshipName&gt;Owner&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;reference&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;false&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultValue xsi:type=&quot;xsd:boolean&quot;&gt;false&lt;/defaultValue&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Converted&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;IsConverted&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:boolean&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;boolean&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Converted Date&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;ConvertedDate&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:date&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;date&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Converted Account ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;ConvertedAccountId&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;referenceTo&gt;Account&lt;/referenceTo&gt;
               &lt;relationshipName&gt;ConvertedAccount&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;true&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;reference&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Converted Contact ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;ConvertedContactId&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;referenceTo&gt;Contact&lt;/referenceTo&gt;
               &lt;relationshipName&gt;ConvertedContact&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;true&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;reference&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Converted Opportunity ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;ConvertedOpportunityId&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;referenceTo&gt;Opportunity&lt;/referenceTo&gt;
               &lt;relationshipName&gt;ConvertedOpportunity&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;true&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;reference&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;false&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultValue xsi:type=&quot;xsd:boolean&quot;&gt;false&lt;/defaultValue&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Unread By Owner&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;IsUnreadByOwner&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:boolean&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;boolean&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Created Date&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;CreatedDate&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:dateTime&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;datetime&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Created By ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;CreatedById&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;referenceTo&gt;User&lt;/referenceTo&gt;
               &lt;relationshipName&gt;CreatedBy&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;reference&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Last Modified Date&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;LastModifiedDate&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:dateTime&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;datetime&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Last Modified By ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;LastModifiedById&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;referenceTo&gt;User&lt;/referenceTo&gt;
               &lt;relationshipName&gt;LastModifiedBy&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;reference&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;true&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;System Modstamp&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;SystemModstamp&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;false&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:dateTime&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;datetime&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Last Activity&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;LastActivityDate&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:date&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;date&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Last Viewed Date&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;LastViewedDate&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:dateTime&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;datetime&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Last Referenced Date&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;LastReferencedDate&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:dateTime&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;datetime&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;60&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Data.com Key&lt;/label&gt;
               &lt;length&gt;20&lt;/length&gt;
               &lt;name&gt;Jigsaw&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;60&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Jigsaw Contact ID&lt;/label&gt;
               &lt;length&gt;20&lt;/length&gt;
               &lt;name&gt;JigsawContactId&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;relationshipName&gt;JigsawContact&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;false&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;120&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Clean Status&lt;/label&gt;
               &lt;length&gt;40&lt;/length&gt;
               &lt;name&gt;CleanStatus&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;In Sync&lt;/label&gt;
                  &lt;value&gt;Matched&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Different&lt;/label&gt;
                  &lt;value&gt;Different&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Reviewed&lt;/label&gt;
                  &lt;value&gt;Acknowledged&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Not Found&lt;/label&gt;
                  &lt;value&gt;NotFound&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Inactive&lt;/label&gt;
                  &lt;value&gt;Inactive&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Not Compared&lt;/label&gt;
                  &lt;value&gt;Pending&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Select Match&lt;/label&gt;
                  &lt;value&gt;SelectMatch&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;Skipped&lt;/label&gt;
                  &lt;value&gt;Skipped&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;true&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;picklist&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;27&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Company D-U-N-S Number&lt;/label&gt;
               &lt;length&gt;9&lt;/length&gt;
               &lt;name&gt;CompanyDunsNumber&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;18&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;D&amp;amp;B Company ID&lt;/label&gt;
               &lt;length&gt;18&lt;/length&gt;
               &lt;name&gt;DandbCompanyId&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;referenceTo&gt;DandBCompany&lt;/referenceTo&gt;
               &lt;relationshipName&gt;DandbCompany&lt;/relationshipName&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;true&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;tns:ID&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;reference&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;765&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Email Bounced Reason&lt;/label&gt;
               &lt;length&gt;255&lt;/length&gt;
               &lt;name&gt;EmailBouncedReason&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;string&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;0&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;false&lt;/createable&gt;
               &lt;custom&gt;false&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;false&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Email Bounced Date&lt;/label&gt;
               &lt;length&gt;0&lt;/length&gt;
               &lt;name&gt;EmailBouncedDate&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;false&lt;/permissionable&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;false&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:dateTime&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;datetime&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;fields&gt;
               &lt;aggregatable&gt;true&lt;/aggregatable&gt;
               &lt;autoNumber&gt;false&lt;/autoNumber&gt;
               &lt;byteLength&gt;765&lt;/byteLength&gt;
               &lt;calculated&gt;false&lt;/calculated&gt;
               &lt;caseSensitive&gt;false&lt;/caseSensitive&gt;
               &lt;createable&gt;true&lt;/createable&gt;
               &lt;custom&gt;true&lt;/custom&gt;
               &lt;defaultedOnCreate&gt;false&lt;/defaultedOnCreate&gt;
               &lt;deprecatedAndHidden&gt;false&lt;/deprecatedAndHidden&gt;
               &lt;digits&gt;0&lt;/digits&gt;
               &lt;filterable&gt;true&lt;/filterable&gt;
               &lt;groupable&gt;true&lt;/groupable&gt;
               &lt;idLookup&gt;false&lt;/idLookup&gt;
               &lt;label&gt;Product Purchased&lt;/label&gt;
               &lt;length&gt;255&lt;/length&gt;
               &lt;name&gt;Product_Purchased__c&lt;/name&gt;
               &lt;nameField&gt;false&lt;/nameField&gt;
               &lt;namePointing&gt;false&lt;/namePointing&gt;
               &lt;nillable&gt;true&lt;/nillable&gt;
               &lt;permissionable&gt;true&lt;/permissionable&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;1295527d-d3c7-11e7-9c84-06bf056d193e&lt;/label&gt;
                  &lt;value&gt;1295527d-d3c7-11e7-9c84-06bf056d193e&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;53c8531b-ce4d-11e7-9c84-06bf056d193e&lt;/label&gt;
                  &lt;value&gt;53c8531b-ce4d-11e7-9c84-06bf056d193e&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;picklistValues&gt;
                  &lt;active&gt;true&lt;/active&gt;
                  &lt;defaultValue&gt;false&lt;/defaultValue&gt;
                  &lt;label&gt;db4aa427-e5ca-11e7-9c84-06bf056d193e&lt;/label&gt;
                  &lt;value&gt;db4aa427-e5ca-11e7-9c84-06bf056d193e&lt;/value&gt;
               &lt;/picklistValues&gt;
               &lt;polymorphicForeignKey&gt;false&lt;/polymorphicForeignKey&gt;
               &lt;precision&gt;0&lt;/precision&gt;
               &lt;queryByDistance&gt;false&lt;/queryByDistance&gt;
               &lt;restrictedPicklist&gt;true&lt;/restrictedPicklist&gt;
               &lt;scale&gt;0&lt;/scale&gt;
               &lt;searchPrefilterable&gt;false&lt;/searchPrefilterable&gt;
               &lt;soapType&gt;xsd:string&lt;/soapType&gt;
               &lt;sortable&gt;true&lt;/sortable&gt;
               &lt;type&gt;picklist&lt;/type&gt;
               &lt;unique&gt;false&lt;/unique&gt;
               &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;/fields&gt;
            &lt;hasSubtypes&gt;false&lt;/hasSubtypes&gt;
            &lt;idEnabled&gt;true&lt;/idEnabled&gt;
            &lt;isSubtype&gt;false&lt;/isSubtype&gt;
            &lt;keyPrefix&gt;00Q&lt;/keyPrefix&gt;
            &lt;label&gt;Lead&lt;/label&gt;
            &lt;labelPlural&gt;Leads&lt;/labelPlural&gt;
            &lt;layoutable&gt;true&lt;/layoutable&gt;
            &lt;mergeable&gt;true&lt;/mergeable&gt;
            &lt;mruEnabled&gt;true&lt;/mruEnabled&gt;
            &lt;name&gt;Lead&lt;/name&gt;
            &lt;networkScopeFieldName xsi:nil=&quot;true&quot;/&gt;
            &lt;queryable&gt;true&lt;/queryable&gt;
            &lt;recordTypeInfos&gt;
               &lt;active&gt;true&lt;/active&gt;
               &lt;available&gt;true&lt;/available&gt;
               &lt;defaultRecordTypeMapping&gt;true&lt;/defaultRecordTypeMapping&gt;
               &lt;master&gt;true&lt;/master&gt;
               &lt;name&gt;Master&lt;/name&gt;
               &lt;recordTypeId&gt;012000000000000AAA&lt;/recordTypeId&gt;
            &lt;/recordTypeInfos&gt;
            &lt;replicateable&gt;true&lt;/replicateable&gt;
            &lt;retrieveable&gt;true&lt;/retrieveable&gt;
            &lt;searchLayoutable&gt;true&lt;/searchLayoutable&gt;
            &lt;searchable&gt;true&lt;/searchable&gt;
            &lt;supportedScopes&gt;
               &lt;label&gt;All leads&lt;/label&gt;
               &lt;name&gt;everything&lt;/name&gt;
            &lt;/supportedScopes&gt;
            &lt;supportedScopes&gt;
               &lt;label&gt;My leads&lt;/label&gt;
               &lt;name&gt;mine&lt;/name&gt;
            &lt;/supportedScopes&gt;
            &lt;supportedScopes&gt;
               &lt;label&gt;Queue owned leads&lt;/label&gt;
               &lt;name&gt;queue_owned&lt;/name&gt;
            &lt;/supportedScopes&gt;
            &lt;supportedScopes&gt;
               &lt;label&gt;My team's leads&lt;/label&gt;
               &lt;name&gt;team&lt;/name&gt;
            &lt;/supportedScopes&gt;
            &lt;supportedScopes&gt;
               &lt;label&gt;User owned leads&lt;/label&gt;
               &lt;name&gt;user_owned&lt;/name&gt;
            &lt;/supportedScopes&gt;
            &lt;triggerable&gt;true&lt;/triggerable&gt;
            &lt;undeletable&gt;true&lt;/undeletable&gt;
            &lt;updateable&gt;true&lt;/updateable&gt;
            &lt;urlDetail&gt;https://na59.salesforce.com/{ID}&lt;/urlDetail&gt;
            &lt;urlEdit&gt;https://na59.salesforce.com/{ID}/e&lt;/urlEdit&gt;
            &lt;urlNew&gt;https://na59.salesforce.com/00Q/e&lt;/urlNew&gt;
         &lt;/result&gt;
      &lt;/describeSObjectResponse&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;" doc:name="sObject Lead Payload" mimeType="application/xml"/>
            </when>
            <when expression="#[payload.body.?getUserInfo != null]">
                <logger message="Getting user info" level="INFO" doc:name="Getting user info"/>
                <set-payload value="&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Body&gt;&lt;getUserInfoResponse xmlns=&quot;urn:partner.soap.sforce.com&quot;&gt;
  &lt;result&gt;
    &lt;accessibilityMode&gt;false&lt;/accessibilityMode&gt;
    &lt;currencySymbol&gt;$&lt;/currencySymbol&gt;
    &lt;orgAttachmentFileSizeLimit&gt;5242880&lt;/orgAttachmentFileSizeLimit&gt;
    &lt;orgDefaultCurrencyIsoCode&gt;USD&lt;/orgDefaultCurrencyIsoCode&gt;
    &lt;orgDisallowHtmlAttachments&gt;false&lt;/orgDisallowHtmlAttachments&gt;
    &lt;orgHasPersonAccounts&gt;false&lt;/orgHasPersonAccounts&gt;
    &lt;organizationId&gt;00Df4000001dNasEAE&lt;/organizationId&gt;
    &lt;organizationMultiCurrency&gt;false&lt;/organizationMultiCurrency&gt;
    &lt;organizationName&gt;MuleSoft&lt;/organizationName&gt;
    &lt;profileId&gt;00ef4000001N71KAAS&lt;/profileId&gt;
    &lt;roleId xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:nil=&quot;true&quot;/&gt;
    &lt;sessionSecondsValid&gt;7200&lt;/sessionSecondsValid&gt;
    &lt;userDefaultCurrencyIsoCode xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:nil=&quot;true&quot;/&gt;
    &lt;userEmail&gt;rashed.talukder@mulesoft.com&lt;/userEmail&gt;
    &lt;userFullName&gt;Rashed Talukder&lt;/userFullName&gt;
    &lt;userId&gt;005f4000000aGFvAAM&lt;/userId&gt;
    &lt;userLanguage&gt;en_US&lt;/userLanguage&gt;
    &lt;userLocale&gt;en_US&lt;/userLocale&gt;
    &lt;userName&gt;rashed.talukder@mulesoft.com&lt;/userName&gt;
    &lt;userTimeZone&gt;America/Los_Angeles&lt;/userTimeZone&gt;
    &lt;userType&gt;Standard&lt;/userType&gt;
    &lt;userUiSkin&gt;Theme3&lt;/userUiSkin&gt;
  &lt;/result&gt;
&lt;/getUserInfoResponse&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;" doc:name="getUserInfo Payload" mimeType="application/xml"/>
            </when>
            <when expression="#[payload.body.?query != null &amp;&amp; payload.body.?query.?queryString == &quot;SELECT Id,FirstName,LastName,Company,Email,Phone,Product_Purchased__c FROM Lead&quot;]">
                <logger message="Getting query" level="INFO" doc:name="Getting query"/>
                <set-payload value="&lt;soapenv:Envelope xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot; xmlns=&quot;urn:partner.soap.sforce.com&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:sf=&quot;urn:sobject.partner.soap.sforce.com&quot;&gt;&lt;soapenv:Header&gt;&lt;LimitInfoHeader&gt;&lt;limitInfo&gt;&lt;current&gt;1&lt;/current&gt;&lt;limit&gt;15000&lt;/limit&gt;&lt;type&gt;API REQUESTS&lt;/type&gt;&lt;/limitInfo&gt;&lt;/LimitInfoHeader&gt;&lt;/soapenv:Header&gt;&lt;soapenv:Body&gt;&lt;queryResponse&gt;&lt;result xsi:type=&quot;QueryResult&quot;&gt;&lt;done&gt;true&lt;/done&gt;&lt;queryLocator xsi:nil=&quot;true&quot;/&gt;&lt;records xsi:type=&quot;sf:sObject&quot;&gt;&lt;sf:type&gt;Lead&lt;/sf:type&gt;&lt;sf:Id&gt;00Qf4000005TFkmEAG&lt;/sf:Id&gt;&lt;sf:Id&gt;00Qf4000005TFkmEAG&lt;/sf:Id&gt;&lt;sf:FirstName&gt;John&lt;/sf:FirstName&gt;&lt;sf:LastName&gt;Smith&lt;/sf:LastName&gt;&lt;sf:Email&gt;john@example.com&lt;/sf:Email&gt;&lt;sf:Company&gt;FakeCorp&lt;/sf:Company&gt;&lt;sf:Phone&gt;555-555-5555&lt;/sf:Phone&gt;&lt;sf:Product_Purchased__c&gt;53c8531b-ce4d-11e7-9c84-06bf056d193e&lt;/sf:Product_Purchased__c&gt;&lt;/records&gt;&lt;records xsi:type=&quot;sf:sObject&quot;&gt;&lt;sf:type&gt;Lead&lt;/sf:type&gt;&lt;sf:Id&gt;01Qf4000005TFkmASD&lt;/sf:Id&gt;&lt;sf:Id&gt;01Qf4000005TFkmASD&lt;/sf:Id&gt;&lt;sf:FirstName&gt;Jane&lt;/sf:FirstName&gt;&lt;sf:LastName&gt;Roe&lt;/sf:LastName&gt;&lt;sf:Email&gt;jane@example.com&lt;/sf:Email&gt;&lt;sf:Company&gt;MegaCorp&lt;/sf:Company&gt;&lt;sf:Phone&gt;888-333-3333&lt;/sf:Phone&gt;&lt;sf:Product_Purchased__c&gt;1295527d-d3c7-11e7-9c84-06bf056d193e&lt;/sf:Product_Purchased__c&gt;&lt;/records&gt;&lt;size&gt;2&lt;/size&gt;&lt;/result&gt;&lt;/queryResponse&gt;&lt;/soapenv:Body&gt;&lt;/soapenv:Envelope&gt;" doc:name="Query Leads Payload" mimeType="application/xml"/>
            </when>
            <otherwise>
                <set-payload value="&lt;soapenv:Envelope xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot; xmlns:sf=&quot;urn:fault.partner.soap.sforce.com&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;
   &lt;soapenv:Body&gt;
      &lt;soapenv:Fault&gt;
         &lt;faultcode&gt;UNKNOWN_EXCEPTION&lt;/faultcode&gt;
         &lt;faultstring&gt;UNKNOWN_EXCEPTION: Operation not available or permitted&lt;/faultstring&gt;
         &lt;detail&gt;
            &lt;sf:UnexpectedErrorFault xsi:type=&quot;sf:UnexpectedErrorFault&quot;&gt;
               &lt;sf:exceptionCode&gt;UNKNOWN_EXCEPTION&lt;/sf:exceptionCode&gt;
               &lt;sf:exceptionMessage&gt;Operation not available or permitted&lt;/sf:exceptionMessage&gt;
            &lt;/sf:UnexpectedErrorFault&gt;
         &lt;/detail&gt;
      &lt;/soapenv:Fault&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;" doc:name="Unknow Exception Payload" mimeType="application/xml"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="salesforce-emulatorBulk">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/async/41.0/job/*" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="#[message.inboundProperties.'http.request.uri']" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.request.uri' == '/services/async/41.0/job/']">
                <set-payload value="&lt;jobInfo
   xmlns=&quot;http://www.force.com/2009/06/asyncapi/dataload&quot;&gt;
 &lt;id&gt;JOB0A1&lt;/id&gt;
 &lt;operation&gt;upsert&lt;/operation&gt;
 &lt;object&gt;Contact&lt;/object&gt;
 &lt;createdById&gt;0A1&lt;/createdById&gt;
 &lt;createdDate&gt;2018-03-26T08:50:01.000Z&lt;/createdDate&gt;
 &lt;systemModstamp&gt;2018-03-26T08:50:01.000Z&lt;/systemModstamp&gt;
 &lt;state&gt;Open&lt;/state&gt;
 &lt;externalIdFieldName&gt;id&lt;/externalIdFieldName&gt;
 &lt;concurrencyMode&gt;Parallel&lt;/concurrencyMode&gt;
 &lt;contentType&gt;XML&lt;/contentType&gt;
 &lt;numberBatchesQueued&gt;0&lt;/numberBatchesQueued&gt;
 &lt;numberBatchesInProgress&gt;0&lt;/numberBatchesInProgress&gt;
 &lt;numberBatchesCompleted&gt;0&lt;/numberBatchesCompleted&gt;
 &lt;numberBatchesFailed&gt;0&lt;/numberBatchesFailed&gt;
 &lt;numberBatchesTotal&gt;0&lt;/numberBatchesTotal&gt;
 &lt;numberRecordsProcessed&gt;0&lt;/numberRecordsProcessed&gt;
 &lt;numberRetries&gt;0&lt;/numberRetries&gt;
 &lt;apiVersion&gt;41.0&lt;/apiVersion&gt;
 &lt;numberRecordsFailed&gt;0&lt;/numberRecordsFailed&gt;
 &lt;totalProcessingTime&gt;0&lt;/totalProcessingTime&gt;
 &lt;apiActiveProcessingTime&gt;0&lt;/apiActiveProcessingTime&gt;
 &lt;apexProcessingTime&gt;0&lt;/apexProcessingTime&gt;
&lt;/jobInfo&gt;" mimeType="application/xml" doc:name="Set Payload"/>
            </when>
            <when expression="#[message.inboundProperties.'http.request.uri' == '/services/async/41.0/job/JOB0A1/batch']">
                <set-payload value="&lt;batchInfo
   xmlns=&quot;http://www.force.com/2009/06/asyncapi/dataload&quot;&gt;
 &lt;id&gt;BATCH01A&lt;/id&gt;
 &lt;jobId&gt;JOB0A1&lt;/jobId&gt;
 &lt;state&gt;Queued&lt;/state&gt;
 &lt;createdDate&gt;2018-03-26T08:50:01.000Z&lt;/createdDate&gt;
 &lt;systemModstamp&gt;2018-03-26T08:50:01.000Z&lt;/systemModstamp&gt;
 &lt;numberRecordsProcessed&gt;0&lt;/numberRecordsProcessed&gt;
 &lt;numberRecordsFailed&gt;0&lt;/numberRecordsFailed&gt;
 &lt;totalProcessingTime&gt;0&lt;/totalProcessingTime&gt;
 &lt;apiActiveProcessingTime&gt;0&lt;/apiActiveProcessingTime&gt;
 &lt;apexProcessingTime&gt;0&lt;/apexProcessingTime&gt;
&lt;/batchInfo&gt;" mimeType="application/xml" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="&lt;error&gt;
	&lt;message&gt;You must match the example in the guide exactly&lt;/message&gt;
&lt;/error&gt;" mimeType="application/xml" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="salesforce-emulatorMetadata">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Soap/m/41.0/012345" doc:name="HTTP"/>
        <logger message="Metadata Request: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
